.video-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 29 px;
    max-width: 1200 px;
}

iframe{
    margin-top: 6rem;
    flex: 1;

}

@media screen and (min-width:768px){
    iframe{
        height: 35rem;
        max-width: 87%;
    }
}

@media screen and (min-width:1200px){
    iframe{
        height: 40rem;
        max-width: 90%;
    }
    .card {
        flex-grow: 1; 
    }
}